#red {
    background: #d61515;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#red:hover, .btn-green:hover {
    background: #ff3030;
}
main {
    padding: 0;
    margin: 1rem;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
#Bienvenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;        
    height: 50vh;               
    margin: 0;
    color:#ffffff;
    font-family: 'Segoe UI', sans-serif; 
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh; 
}
#caja-trasparente {
    background-color: #3fc1c5a1;
    margin:0;
    padding: auto;
    border-radius: 0% 100% 0% 0% / 100% 100% 0% 0%;
    height: 80vh;
	width: 70vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align:left
    
    
}
h1 {
    font-size: 9vh;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Anton', sans-serif;
}
header {
    color: #EDD944;
    background-color: black;
    padding: 20px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

footer {
    background-color: black;
    padding: 20px;
    color: #fff;
}
p {
    font-size: 1.2rem;  
    text-align: justify;
    color: #000000;
}
.logo{
    width: 48.6px;
    height: 40px;
}
.lista {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: 0;
    padding: 0
}
div {
    margin: 20px;
    padding: 20px;
}
img {
    width: 400px;
    height: 400px;
}
.juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}
.espacio{
    padding-left: 90px;
}
#que-es {
    padding-left: 15vh;
    padding-right: 15vh;
    margin: 20px;
}