:root{
    /* Paleta "Wrapped in Wool" */
    --primary: #4FB19D;
    --primary-shadow: #4FB19D80;
    --logo-color: #EDCE7A;
    
    /* Colores de acento */
    --accent-red: #C98C9A;
    --pink:#D7A9AF;
    --accent-red-hover: #E5C6C3;
    --shadow-bottom: rgba(201, 140, 154, 0.5);
    
    /* Colores de gradiente */
    --esmeralda: #4FB19D;
    --one-esmeralda: #4FB19D;
    --gradient-blue-mid: #75BBC1;
    --dialog-fondo: #9AC5E5;
    
    /* Colores neutros */
    --black: #000000;
    --border-img: #000000;
    --white: #ffffff;
    --Twhite: #ffffff;
    --gray-light: #aaa;
    --gray-medium: #2d343a;
    --gray-dark: #2d2d2d;
    
    /* Colores adicionales de la paleta 
    
    Por si se necesitan
    */
    --blue-wool: #9AC5E5;
    --teal-wool: #4FB19D;
    --yellow-wool: #EDCE7A;
    --mauve-wool: #C98C9A;
    --pink-wool: #E5C6C3;
}

div {
    width: 400px;
    max-width: 90%;
    height: 19rem;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    border: var(--black) solid 2px;
    border-radius: 10px;
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--dialog-fondo);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4); 
}
p {
    font-size: 1.5rem;
}
body {
    display: flex;
    justify-content: center;     
    align-items: center;         
    height: 100vh;               
    margin: 0;
    background-color: var(--gradient-blue-mid);
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;      
}

button{
    background: var(--accent-red);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
button:hover{
    background: var(--accent-red-hover);
}