:root{
    /* Paleta "Wrapped in Wool" */
    --primary: #4FB19D;
    --primary-shadow: #4FB19D80;
    --logo-color: #EDCE7A;
    
    /* Colores de acento */
    --accent-red: #C98C9A;
    --pink:#D7A9AF;
    --accent-red-hover: #E5C6C3;
    --shadow-bottom: rgba(201, 140, 154, 0.5);
    
    /* Colores de gradiente */
    --esmeralda: #4FB19D;
    --one-esmeralda: #4FB19D;
    --gradient-blue-mid: #75BBC1;
    --dialog-fondo: #9AC5E5;
    
    /* Colores neutros */
    --black: #000000;
    --border-img: #000000;
    --white: #ffffff;
    --Twhite: #ffffff;
    --gray-light: #aaa;
    --gray-medium: #2d343a;
    --gray-dark: #2d2d2d;
    
    /* Colores adicionales de la paleta 
    
    Por si se necesitan
    */
    --blue-wool: #9AC5E5;
    --teal-wool: #4FB19D;
    --yellow-wool: #EDCE7A;
    --mauve-wool: #C98C9A;
    --pink-wool: #E5C6C3;
}
body {
    margin:0;
    padding-top:88px;
    background-color: var(--gradient-blue-mid);
    line-height:1.45;
    font-family: Arial, sans-serif;  
}
header {
    display: flex;
    background-color:var(--black);
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    size: 2.5rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    margin: 0;
    z-index:1001
}
main{
    max-width:190vh;
    margin:28px auto;
    padding:0 20px
}
.container{
    width: 190vh;
    max-width: 95vw;
    height: 19rem;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    border: var(--black) solid 2px;
    border-radius: 10px;
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: var(--dialog-fondo);
    box-shadow: 0 4px 10px rgba(0,0,0,0.4); 
}
.logo{
    width: 48.6px;
    height: 40px;
}
.regresar{
    background: var(--accent-red);
    color: var(--white);
    border: none;
    border-radius: 30px;
    padding: 10px ;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    
}
.regresar:hover{
    background: var(--accent-red-hover);
}