body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    background-color: black;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    size: 2.5rem;

}
footer {
    background-color: black;
    padding: 20px;
    color: #fff;
}
#red {
    background: #d61515;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
#red:hover, #si:hover{
    background: #ff3030;
}
.seleccion {
    background: #000000;
    color: #fff;
    border: none;
    padding: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background 0.2s;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.seleccion:hover{
    background:  #3fc1c5;
}
#Bienvenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;        
    height: 50vh;               
    margin: 0;
    color:#ffffff;
    font-family: 'Segoe UI', sans-serif; 
    background-image: url('img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh; 
}
#caja-trasparente {
    background-color: #3fc1c59b;
    margin:0;
    padding-left: 15px;
    padding-top: 70px;
    border-radius: 0% 100% 0% 0% / 100% 100% 0% 0%;
    height: 70vh;
	max-width: 85vh;
    min-width: 81vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align:left;
    align-items: center;
}
.bar::-webkit-bar {
  display: none;
}
.bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.logo{
    width: 48.6px;
    height: 40px;
}
.lista {
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: 0;
    padding: 0
}
.juegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}
dialog {
    width: 400px;
    max-width: 90%;
    height: 33rem;
    margin: 0 auto;
    text-align: center;
    color: #000;
    border: #000 solid 2px;
    border-radius: 10px;
    padding: 30px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #00b4ff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4); 
    transition: scale .3s ease-in-out, display .3s ease allow-discrete;
    scale: 0;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.692); /* Fondo detrás del diálogo (modal) */
}
dialog[open]{
    scale: 1;
    transition: scale .3s ease-in-out;

    @starting-style{
        scale: 0;
    }
}
